{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <h1>Les Articles</h1>

    {{ include('back/articles/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    

    <a href="{{ path('app_back_articles_index') }}" class="button is-light">Retour à la list</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('back/posts/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
