{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Les articles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>
                    <img src={{'https://res.cloudinary.com/dsn2zwbis/image/upload/v1675085410/unetaupechezvous/' ~ article.slug ~ '.webp'}} alt="imgHeader" width="100px">
                </td>
                <td>
                    <a href="{{ path('app_back_articles_edit', {'id': article.id}) }}" class="button is-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_articles_new') }}" class="button is-primary">Nouvelle article</a>
{% endblock %}
