{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <h1>Nouvelle Article</h1>
    <img src="https://res.cloudinary.com/dsn2zwbis/image/upload/v1675085410/unetaupechezvous/Accueil.webp" alt="imgHeader" >

    {{ include('back/articles/_form.html.twig') }}

{% endblock %}
