{% extends 'base.html.twig' %}

{% block title %}Edit Faq{% endblock %}

{% block body %}
    <h1>Edit Faq</h1>

    {{ include('back/faq/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_back_faq_index') }}"class="button is-light">Retour à la list</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('back/faq/_delete_form.html.twig') }}
        {% endif %}
{% endblock %}
